@import "./nav";
@import "./header";
@import "./body";


body {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: rgba(43, 43, 43, 1);
}

.container {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}
@media only screen and (max-width: 834px) {
    .container{
        width: 100%;
        max-width: 690px;
        margin: 0 auto;
        padding: 0 auto;
        box-sizing: border-box;
    }
}
@media only screen and (max-width: 375px){
    .container{
        width: 100%;
        max-width: 315px;
        margin: 0 auto;
        padding: 0 auto;
        box-sizing: border-box;
    }
}