nav {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media only screen and (max-width: 834px) {
  nav {
    max-width: 750px;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.nav-logo__img {
  width: 16rem;
  height: 2rem;
}

.nav-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title a {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0rem 2rem;
}

.nav-button {
  width: 9.5rem;
  height: 3.75rem;
  border: none;
  border-radius: 20px;
  background-color: rgb(162, 89, 255);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 8px;
}
.nav-button a {
  text-decoration: none;
}

.nav-menu {
  display: none;
}

@media only screen and (max-width: 52.12rem) {
  .nav-logo__img {
    width: 11.41rem;
  }
  .nav-titles {
    display: none;
  }
  .nav-menu {
    display: contents;
    margin-left: 3.12rem;
  }
}
@media only screen and (max-width: 23.44rem) {
  .navbar {
    padding: 15px 30px;
  }
  .nav-logo__img {
    width: 11.41rem;
  }
  .nav-menu {
    display: contents;
    margin-left: 3.12rem;
    width: 1.25rem;
  }
}
.header-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 700px;
}
.header-section .header-paragraph {
  width: 40%;
}
.header-section .header-paragraph h1 {
  margin: 0rem;
  font-family: Work Sans;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 4.6rem;
  color: rgb(255, 255, 255);
}
.header-section .header-paragraph p {
  width: 25.9rem;
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  color: rgb(255, 255, 255);
}
.header-section .header-photo {
  width: 40%;
}
.header-section .header-statistics {
  width: 31.9rem;
  margin-top: -8.5rem;
}
.header-section .header-statistics .header-button {
  width: 14rem;
  height: 3.75rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  background-color: rgb(162, 89, 255);
  color: rgb(255, 255, 255);
}
.header-section .header-statistic {
  width: 31.9rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 4rem;
  margin-top: 3rem;
}
.header-section .statistic h3 {
  font-family: Space Mono;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.45rem;
  text-align: left;
  color: rgb(255, 255, 255);
}
.header-section .statistic h4 {
  font-family: Work Sans;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-top: -1.5rem;
}

@media only screen and (max-width: 834px) {
  .header-section .header-paragraph {
    width: 40%;
    height: 14rem;
  }
  .header-section .header-paragraph h1 {
    font-size: 2.4rem;
    width: 19.5rem;
    line-height: 3rem;
  }
  .header-section .header-paragraph p {
    font-size: 16px;
    width: 17.5rem;
    line-height: 1.5rem;
  }
  .header-section .header-photo {
    width: 50%;
  }
  .header-section .header-photo img {
    width: 330px;
  }
  .header-statistics .header-button {
    margin-top: 4rem;
  }
  .header-statistics .header-statistic {
    margin-top: 1.5rem;
  }
  .header-statistics .statistic h3 {
    font-size: 22px;
  }
  .header-statistics .statistic h4 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 375px) {
  .header-section {
    display: block;
  }
  .header-section .header-paragraph {
    width: 20.6rem;
    height: 14rem;
  }
  .header-section .header-paragraph h1 {
    width: 23rem;
    font-size: 2.4rem;
  }
  .header-section .header-paragraph p {
    font-size: 1.4rem;
  }
  .header-section .header-photo {
    height: 440px;
  }
  .header-section .header-statistics .header-button {
    width: 315px;
  }
}
.section1__main-title {
  font-family: Work Sans;
  font-size: 38px;
  font-weight: 600;
  text-align: left;
  color: rgb(255, 255, 255);
}

.section1__second-title {
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.section-boxes {
  display: flex;
  justify-content: space-between;
}

.section1-boxes {
  width: 30%;
  height: 525px;
}
.section1-boxes h2 {
  width: 100%;
  height: 31px;
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  color: rgb(255, 255, 255);
}
.section1-boxes p {
  gap: 10px;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-top: -10px;
}
.section1-boxes p img {
  width: 24px;
  height: 24px;
}

.section1-main__box {
  width: 30%;
  height: 330px;
  border-radius: 20px;
}

.section-litlle__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.section-litlle__box img {
  width: 30%;
  height: 100px;
  border-radius: 20px;
}
.section-litlle__box .section-statistics {
  background-color: rgb(162, 89, 255);
  width: 30%;
  height: 100px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
}

@media only screen and (max-width: 832px) {
  .body-section {
    background-color: rgb(43, 43, 43);
    max-width: 832px;
    height: 800px;
    margin: 0px auto;
  }
  .section1__main-title {
    font-size: 28px;
    padding: 60px 100px 0px;
  }
  .section1__second-title {
    font-size: 16px;
    margin-left: 100px;
  }
  .section-boxes {
    gap: 20px;
  }
  .section1-boxes3 {
    display: none;
  }
  /* Section2 */
  .body-section2 {
    background-color: rgb(43, 43, 43);
    max-width: 832px;
    height: 900px;
    margin: 0px auto;
  }
  .body-section2 .section2-box12 {
    display: none;
  }
  .body-section2 .main-section2 {
    gap: 100px;
  }
  .body-section2 .section2-title h1 {
    font-size: 28px;
  }
  .body-section2 .section2-title p {
    font-size: 16px;
  }
  .body-section2 .section2-boxes {
    gap: 20px;
  }
  .body-section2 .section2-box {
    width: 330px;
    height: 100px;
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
  }
  .body-section2 .section2-box__main__img {
    width: 60px;
    height: 60px;
    display: flex;
    margin: 0px;
  }
  .body-section2 .section2-box__title {
    margin: -80px 0px 0px 50px;
  }
}
@media only screen and (max-width: 375px) {
  .body-section {
    background-color: rgb(43, 43, 43);
    max-width: 832px;
    height: 1250px;
    margin: 0px auto;
  }
  .section1__main-title {
    font-size: 20px;
    padding: 40px 10px 0px;
  }
  .section1__second-title {
    font-size: 14px;
    margin-left: 10px;
  }
  .section-boxes {
    gap: 10px;
  }
  .section1-boxes2 {
    display: none;
  }
  .section1-boxes3 {
    display: none;
  }
}
/*  Section2 */
.body-section2 {
  max-width: 1280px;
  height: 1050px;
  background-color: rgb(43, 43, 43);
  margin: 0px auto;
}

.main-section2 {
  display: flex;
  gap: 400px;
  justify-content: center;
  align-items: end;
}

.section2-title h1 {
  font-size: 38px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.section2-title p {
  font-size: 22px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin: 0px;
}

.main-section2__button button {
  width: 247px;
  height: 60px;
  border-radius: 20px;
  border: 2px solid rgb(162, 89, 255);
  background-color: inherit;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 0px 50px;
  color: rgb(255, 255, 255);
}

.section2-boxes {
  margin: 70px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.section2-box {
  width: 220px;
  height: 218px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(59, 59, 59);
}
.section2-box .section2-box__number {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: rgb(43, 43, 43);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.section2-box .section2-box__main__img {
  margin: -30px 50px;
}
.section2-box .section2-box__title h3 {
  font-size: 22px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  margin-top: 40px;
}
.section2-box .section2-box__title p {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(133, 133, 132);
}
.section2-box .section2-box__title .section2-boxSpanTitle {
  color: rgb(255, 255, 255);
}

body {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgb(43, 43, 43);
}

.container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

@media only screen and (max-width: 834px) {
  .container {
    width: 100%;
    max-width: 690px;
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 375px) {
  .container {
    width: 100%;
    max-width: 315px;
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
  }
}/*# sourceMappingURL=main.css.map */